dist: xenial
language: python

python:
- 2.7
- 3.6
- &latest_py3 3.7

jobs:
  fast_finish: true
  include:
  - stage: deploy
    if: tag IS present
    python: *latest_py3
    before_script: skip
    env:
    - TWINE_USERNAME=jaraco
    # TWINE_PASSWORD
    - secure: Zd2236tCf+i7SYq50DAutS8EnQDWDFLRGnBjOi6CAJ1nblca07Ca2kpo3i2xvpktu1yrb0rFY9vnz9rMdwRavCz6deNcAxpM86m2sXepuz+fs4CIrDG5OepBy2LW/hHEafUObsoWeC4Ku8yXte7IUnmXBsplpTpjAybztNJ+C54=
    - TOX_TESTENV_PASSENV="TWINE_USERNAME TWINE_PASSWORD"
    script: tox -e release

cache: pip

install:
- pip install tox tox-venv

before_script:
  # Disable IPv6. Ref travis-ci/travis-ci#8361
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
      sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6';
    fi
script: tox
